[submodule "vellum/revloader"]
	path = vellum/revloader
	url = https://github.com/darwin128k/revloader.git
[submodule "vellum/hl"]
	path = vellum/hl
	url = https://github.com/darwin128k/hl.git
[submodule "vellum/leaflet"]
	path = vellum/leaflet
	url = https://github.com/darwin128k/leaflet.git
