*.log
steam_appid.txt
htmlcache/
cstrike_downloads/
valve_downloads/
cstrike/resource/BackgroundLayout.txt
cstrike/resource/BackgroundLoadingLayout.txt
steam_api_orig.dll
config/serverbrowser.vdf
cstrike/motd_temp.html
